body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

span {
  color: #007bff;
  font-weight: bold;
}

.logo {
    width:50%;
    margin: auto;
}

textarea {
  min-height: 8em;
}